body {
}

span.wordGrid {
  float: left;
  padding: .2em .2em 0 0;
  margin: .2em .2em 0 0;
  width: 120px;
  border: 1px groove grey;
}

.wordGrid {
    font-size: 1.1em;
}

hr {
    border: 2px solid grey;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
